{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <!-- <script src="{% static 'movies/package/dist/d3.min.js' %}"></script> -->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
	
  <!-- <link href="{% static 'movies/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'movies/js/bootstrap.bundle.min.js' %}" rel="stylesheet"> -->
  
  <link rel="stylesheet" href="{% static 'movies/d3.css' %}">
  <link rel="stylesheet" href="{% static 'movies/searchbar.css' %}">
</head>

<body>
  {% include 'movies/searchbar.html' %}
  {% block body %}
    body & soul
  {% endblock %}
  
  <script src="{% static 'movies/searchbar.js' %}"></script>
</body>

</html>